[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"

[packages]
sklearn = "*"
numpy = "*"
scipy = "*"
pandas = "*"
marisa-trie = "*"
Flask = "*"
Flask-Cors = "*"

[dev-packages]
ipython = "*"
ipdb = "*"
awsebcli = "*"
awscli = "*"
