option_settings:
  aws:autoscaling:launchconfiguration:
    # Guarantee a t2.medium w/ 4GB of memory, otherwise get out of memory issues
    InstanceType: t2.medium
  aws:elasticbeanstalk:application:environment:
    # Bucket where we manually upload models, this gets synced to each instance
    S3_DATA_BUCKET: s3://elasticbeanstalk-us-east-1-605366678235/subreddit-algebra/models/
    SUBREDDIT_ALGEBRA_DATA_DIR: /data
    IS_SERVER: true
  aws:elasticbeanstalk:command:
    # Building all the sklearn dependencies takes longer than the default 15 minute timeout
    timeout: "2700"  # 2700 seconds = 45 minutes * 60 seconds/minute
  aws:elasticbeanstalk:container:python:
    WSGIPath: subreddit_algebra_app.wsgi
  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: frontend/build/static/

packages:
  yum:
    # Everything required for numpy and scipy on AWS Linux in container_commands
    # Copied from https://forums.aws.amazon.com/thread.jspa?messageID=423117
    gcc: []
    gcc-c++: []
    python34-devel: []
    lapack-devel: []
    blas-devel: []
    atlas-devel: []

commands:
    # The "python" option in packages doesn't install in the virtual environment
    00_upgrade_pip:
      command: "/opt/python/run/venv/bin/pip install --upgrade pip"
    # sklearn and pandas depend on numpy and scipy
    01_install_numpy:
      command: "/opt/python/run/venv/bin/pip install numpy"
    02_install_scipy:
      command: "/opt/python/run/venv/bin/pip install scipy"

# Remember, all these commands are run in the root of the source checkout
container_commands:
  # Make sure the the data directory is present
  00_create_data_dir:
    command: "sudo mkdir --mode=755 ${SUBREDDIT_ALGEBRA_DATA_DIR}"
    test: '[ ! -d "${SUBREDDIT_ALGEBRA_DATA_DIR}" ]'
  # Sync data models from S3
  01_sync_data:
    command: "aws s3 sync ${S3_DATA_BUCKET} ${SUBREDDIT_ALGEBRA_DATA_DIR}"
  # Install using setuptools instead of relying on the requirements.txt (sudo so we can write out the .egg)
  02_install_subreddit_algebra_app_package:
    command: "sudo /opt/python/run/venv/bin/pip install -e ."
  03_enable_scripts:
    command: "sudo chmod -R 777 ./scripts"
  # Install frontend build dependencies and build.
  03_frontend_build:
    command: "sudo ./scripts/frontend_build.sh"
  # copy base files to the document root (but leave static to be served above)
  04_copy_frontend_build_to_document_root:
    command: "sudo cp --recursive --update frontend/build/* /var/www/html/"
  # Modify the wsgi.conf apache config to support our app at /api, and preload wsgi script
  05_modify_wsgi_conf:
    command: "sudo ./scripts/modify_wsgi_conf.sh"
    test: "grep WSGIScriptAlias ../wsgi.conf && grep WSGIProcessGroup ../wsgi.conf"

files:
  # http://stackoverflow.com/questions/41812497/aws-elastic-beanstalk-script-timed-out-before-returning-headers-application-p/41855346#41855346
  # A few of my dependencies mention the SWIG GIL bindings, and are likely hitting this case.
  #
  # https://forums.aws.amazon.com/thread.jspa?messageID=745509
  # Forward http requests to the https site
  # XXX: Redirecting to https isn't working anymore
  "/etc/httpd/conf.d/wsgi_custom.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      WSGIApplicationGroup %{GLOBAL}
      <VirtualHost *:80>
        RewriteEngine on
        RewriteCond %{HTTP:X-Forwarded-Proto} !https
        RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
      </VirtualHost>
