files:
  # Redirect HTTP to HTTPS
  # Explanation http://stackoverflow.com/questions/14693852/how-to-force-https-on-elastic-beanstalk
  "/etc/httpd/conf.d/force-ssl.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      <VirtualHost *:80>
        Redirect permanent / https://subreddit-algebra.science
      </VirtualHost>
      RewriteEngine On

      <If "-n '%{HTTP:X-Forwarded-Proto}' && %{HTTP:X-Forwarded-Proto} ='http'">
        RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
      </If>

      RewriteCond %{HTTPS} off
      RewriteRule (.*) https://%{SERVER_NAME}/$1 [R,L]
