input {
  font-size: 20px;
  padding: 5px;
}

.App {
  background-color: white;
  color: #2a2a2a;
  font-size: 20px;
  height: 100vh;
  text-align: center;
  padding-top: 10px;
}

.button {
  background-color: #0c78d1;
  color: white;
  padding: 0px .5em;
  cursor: pointer;
  border-radius: 3px;
}

.button:hover {
  background-color: #5295cb;
}

.button:active {
  background-color: #005fad;
}

.matches {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-padding-start: 0px;
  padding-left: 10px;
  list-style: none;
}

.subreddit-input {
  /* Make as large as the largest subreddit name, 20 characters (Googled it) */
  width: 13em;
}

@media only screen and (min-width: 650px) {
  .SubredditInput {
    display: inline;
  }
}

#operator {
  font-size: 20px;
  margin: 0em 1em;
  text-align: center;
  width: 2em;
}
