html, body{
  margin: 0;
  font-family: sans-serif;
  /* Reset box-sizing to border-box because it is more intuitive */
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*
  Utility classes that can be re-used in each component (avoids using variables)
*/

/*
 Text classes
 e.g text-small, text-medium, text-large
*/


/*
  Color classes
  e.g. background-color-primary, color-primary, border-color-primary... (maybe not the best idea)
*/
